@{
	ViewData["Title"] = "Home Page";

}
@{
	Layout = "_UserLayout";
}

@using GiangAsm.Models
@using Microsoft.AspNetCore.Identity
@using GiangAsm.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model List<Book>

<body>
	<!-- Products Start -->
	<div class="container-fluid pt-5">
		<div class="text-center mb-4">
			<h2 class="section-title px-5"><span class="px-2">Sách Mới</span></h2>
		</div>

		<div class="row px-xl-5 pb-3">

			@foreach (var book in Model)
			{
				<div class="col-lg-3 col-md-6 col-sm-12 pb-1">
					<div class="card product-item border-0 mb-4">
						<div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
							<img src="~/img/@book.ImgUrl" alt="">
						</div>
						<div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
							<h6 class="text-truncate mb-3">@book.Title</h6>
							<div class="d-flex justify-content-center">
								<h6>Price: $@book.Price</h6>
							</div>
						</div>
						<div class="card-footer d-flex justify-content-between bg-light border">
							<a class="btn btn-sm text-dark p-0"asp-area="" asp-controller="Books" asp-action="DisplayBook" asp-route-id="@book.Isbn"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
							<a class="btn btn-sm text-dark p-0"asp-area="" asp-controller="Carts" asp-action="AddToCart" asp-route-id="@book.Isbn"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
	<!-- Products End -->

	<nav aria-label="...">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" href="/Students/Index/@ViewBag.idpagprev" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			@for (var i = 0; i < ViewBag.NumberOfPages; i++)
			{
				var style = (ViewBag.currentPage == @i) ? "active" : "";
				<li class="page-item @style " aria-current="page">
					<a asp-action="Index" asp-route-id="@(i)" asp-route-SearchString="@ViewData["CurrentFilter"]" class="page-link">@(i +1 ) </a>
				</li>

			}

			<li class="page-item">
				<a class="page-link" href="/Students/Index/@ViewBag.idpagenext" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>



</body>
